# Dependencies
node_modules/

# Environment Variables / Sensitive Data
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Production Builds and Compiled Code
dist/
build/
web-build/
out/
.next/

# Expo and React Native Mobile Builds
.expo/
.expo-shared/

# Native Mobile Folders
android/
ios/

# Cryptographic Keys, Certificates & Credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.pem

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs and Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostics & Backup files
.orig.
.spec/